
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .success{
            color:white;
            background-color: green;
            text-align: center;
            margin-left:40rem;
            margin-top:5rem;
            font-size:2rem;
        }
    </style>
</head>
<body>
    {% if messages %}
    {% for i in messages %}
    <small {% if i.tags %} class="{{i.tags}}" {% endif %}>{{i}}</small>
    {% endfor %}
    {% endif %}
    <a style="font-size:2rem; background-color: red; color:white padding:1rem 4rem"href="{% url 'logout' %}">LOGOUT</a>
    {% for i in ob %}
    <p style="font-size:2rem; color:white;">NAME</p><span style="color:yellow; font-size:2rem;">{{i.name}}</span><br><br>
    <p style="font-size:2rem; color:white;">MOBILE NUMBER:</p><span style="color:yellow; font-size:2rem;">{{i.mobile}}</span><br><br>
    <p style="font-size:2rem; color:white;">Email:</p><span style="color:yellow; font-size:2rem;">{{i.email}}</span>
    {% endfor %}

</body>
</html>
