<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <style>
        .success{
            color:white;
            background-color: green;
            text-align: center;
            margin-left:40rem;
            margin-top:5rem;
            font-size:2rem;
        }
        
    </style>
    
</head>
<body>
    <div class="header">
        <div class="nav">
            <div class="login">
                <a class="button" href="{% url 'login' %}">Login</a>

            </div>
            <div class="logo"><img src="../static/logo-removebg-preview.png" alt=""></div>
            <div class="signup">
                <a class="button" href="{% url 'signup' %}">Sign Up</a>
            </div>
        </div>
    </div><br><br>
    <div class="headline">
        <h1>Welcome To <span class="shera">Shera</span> Site</h1>
    </div><br><br>
    {% if messages %}
    {% for i in messages %}
    <small {% if i.tags %} class="{{i.tags}}" {% endif %}>{{i}}</small>
    <br><br>
    {% endfor %}
    {% endif %}
    <div class="contactpage">
        <div class="forms">
            <div class="contact">
                <div class="details">
                    <h1>Contact US</h1><br>
                    <p>Need To get in touch with us? Enter to fill out the form with your enquiry</p>
                </div>
            </div><br><br>
            <div class="formpage">
                <form action=" " method="post">
                    {% csrf_token %}

                    <label for="">Name</label><br>
                    <input type="text" name="name"><br><br>
                    <label for="">Mobile No.</label><br>
                    <input type="integer" name="mobile"><br><br>
                    <label for="">Email ID</label><br>
                    <input type="email" name="email"><br><br>
                    <label for="">What can we help you with?</label><br>
                    <input type="text" name="message"><br><br>
                    <input type="submit">
                    

                </form>
            </div>
        </div>
    </div>
</body>
</html>